{% extends 'main.html' %}
{% block content %}

        <!-- Header-->
        <title>Chi Siamo</title>
        <section id="scroll">
            <div class="container-full-width">
                <img class="img-fluid" src="/static/assets/img/campo01.jpg" alt="An image of a field" style="width:100%;">
                <div class="centered"> 
                    <h1>Studio Agronomico <br> MESOPOTAMIA</h1>
                    <h3>Coltiviamo insieme un futuro migliore</h3>
                </div>
                <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5 centered"  href="#scroll">Learn More</a> -->
            </div>
        </section>
        <!-- Content section 1 titolo -->
        <section>
            <div class="container">
                <h1 class="text-center p-3">Il Nostro Team</h1>
            </div>
        </section>

        <section>
            <div class="container mt-5">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <div class="card mx-2" style="width: 18rem;">
                                    <img src="/static/assets/img/01.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card 1</h5>
                                        <p class="card-text">Contenuto della Card 1.</p>
                                    </div>
                                </div>
                                <div class="card mx-2" style="width: 18rem;">
                                    <img src="/static/assets/img/avatar.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card 2</h5>
                                        <p class="card-text">Contenuto della Card 2.</p>
                                    </div>
                                </div>
                                <div class="card mx-2" style="width: 18rem;">
                                    <img src="/static/assets/img/avatar.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card 3</h5>
                                        <p class="card-text">Contenuto della Card 3.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="card mx-2" style="width: 18rem;">
                                    <img src="/static/assets/img/campo01.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card 4</h5>
                                        <p class="card-text">Contenuto della Card 4.</p>
                                    </div>
                                </div>
                                <div class="card mx-2" style="width: 18rem;">
                                    <img src="/static/assets/img/02.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Card 5</h5>
                                        <p class="card-text">Contenuto della Card 5.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
    
        
        <!-- Content section 2 team 1 -->
        <section id="scroll">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/01.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Giacomo </h2>
                            <p>Da piu di 20 anni aiutiamo le piccole e medie aziende a crescere e ottimizzare la resa e la qualità dei propri terreni!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2 team 2 -->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/avatar.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Francesco</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content section 2 team 3-->
        <section id="scroll">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/avatar.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Fabrizio </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h1 class="text-center p-3">Collaborazioni</h1>
            </div>
        </section>
{% endblock content %}
