{% extends 'main.html' %} {% block content %} {% load static %}

<!-- HOME -->
<title>Home Page</title>
<section id="home">
  <!-- SUBSezione immagine copertina -->
  <div id="sezioneImg">
    <div class="container-full-width">
      <img
        class="img-fluid"
        src="{% static 'assets/img/campo01.jpg' %}"
        alt="An image of a field"
        style="width: 100%"
      />
      <div class="container-full-width w centered">
        <h1>
          Studio AgriPro
        </h1>
        <h3>Coltiviamo insieme un futuro migliore</h3>
      </div>
    </div>
  </div>
</section>

<!-- CHI_SIAMO-->
<section id="chi_siamo">

 <!--<header class="bg-light border">
    <div class="container mt-3">
      <h1 class="text-center p-3">Chi siamo</h1>
    </div>
  </header>-->

  <div class="container-full-width lg-background pt-5 pb-8 px-8">
    <!-- riga 1 -->
    <div class="row justify-content-center">
      <h1 class="text-center p-3">Chi siamo</h1>
      <div class="col-md-8 col-sm-6 pt-4 pb-5">
        <p>Siamo una società di servizi costituita da una network di professionisti tra agronomi, geometri, architetti e imprenditori agricoli. In quanto agricoltori in prima persona capiamo le necessità delle varie aziende agricole. <br> Vogliamo mettere a disposizione i nostri strumenti e le nostre conoscienze per far migliorare produttivamente e redditivamente le aziende che collaborano con noi.</p>
        <h4>Vantaggi:</h4>
        <ul class="ul clean-list">
          <li>Accesso alle informazioni</li>
          <li>Accesso ai finanziamenti pubblici</li>
          <li>Servizi per connettere a 360 gradi le aziende agricole con tutte le altre figure professionali richieste</li>
        </ul>
        <h4>Obiettivo:</h4>
        <p>Colmare il vuoto di fiducia tra imprenditori e professionisti costruendo un rapporto di connessione interdisciplinare per poter ottimizzare ogni singolo aspetto di una azienda.</p>
      </div>
    </div>

    <div class="row justify-content-center row-3d">
      <div class="col-md-6 col-sm-4 py-4">
        <h3>Vision</h3>
        <p>Vogliamo aiutare gli imprenditori e le imprese agricole ad ottenere i capitali e le capacità per sviluppare il proprio Business, creare innovazione, strategia nel processo produttivo, e sostenibilità nei propri prodotti alimentari. </p>
      </div>
      <div class="col-md-6 col-sm-4 py-4">
        <h3>Mission</h3>
        <p>Lavoriamo a contatto con le persone ed i loro sogni, cerchiamo ogni giorno di renderli più concreti. Il nostro scopo è creare valore nel piccolo per fare la differenza nel grande.</p>
      </div>
    </div>


  </div>

</section>

<!-- SERVIZI -->
<section id="servizi">
  <!-- <header class="bg-light border">
    <div class="container-full-width">
      <h1 class="text-center p-3">Servizi</h1>
    </div>
  </header> -->
  <div class="container-full-width pt-5 pb-5">
    <h1 class="text-center pb-4">Servizi</h1>

    <div class="row">
      <!-- Contenuto della riga 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container">
        <!-- Contenuto della colonna 1 -->
        <a href="{% url 'servizi_agricoltura' %}" class="service-link">    
          <img
            class="img-fluid rounded-circle rounded-circle-green-border"
            src="{% static 'assets/img/pomodori.jpeg' %}"
            alt="An image of a field"
            style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 mx-auto">Servizi per l'agricoltura</h4>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container">
        <!-- Contenuto della colonna 2 -->
        <a href="{% url 'servizi_ambiente' %}" class="service-link">   
          <img
            class="img-fluid rounded-circle rounded-circle-green-border"
            src="{% static 'assets/img/vigneto_1.jpeg' %}"
            alt="An image of a field"
            style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 mx-auto">Servizi per l'ambiente</h4>
        </a>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container"
      >
        <!-- Contenuto della colonna 3 -->
        <a href="{% url 'servizi_verde' %}" class="service-link">    
          <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/drone1.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 mx-auto">Verde pubblico e privato</h4>
        </a>
      </div>
      <!-- Aggiungi altre colonne se necessario -->
    </div>
    <!-- Aggiungi altre righe se necessario -->
    <div class="row">
      <!-- Contenuto della riga 2 -->
      <div
        class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container"
      >
        <!-- Contenuto della colonna 1 -->
        <a href="{% url 'servizi_attivita' %}" class="service-link">    
          <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/drone2.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 mx-auto">
            Realizzazione di attività di marketing
          </h4>
        </a>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container"
      >
        <!-- Contenuto della colonna 2 -->
        <a href="{% url 'servizi_certificazione' %}" class="service-link">    
          <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/investi01.jpeg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 text-center mx-auto">
            Assistenza alle certificazioni di qualità
          </h4>
        </a>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 d-flex pb-5 pt-3 flex-column align-items-center justify-content-start service-container"
      >
        <!-- Contenuto della colonna 3 -->
        <a href="{% url 'servizi_economici' %}" class="service-link">    
          <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 text-center mx-auto">Servizi economico-finanziari</h4>
        </div>
      </a>
      <!-- Aggiungi altre colonne se necessario -->
    </div>
    <!-- Aggiungi altre righe se necessario -->
  </div>
</section>


<!-- NEWS -->
<section id="news">
  <header class="bg-light border">
    <div class="container-full-width pt-3">
      <h1 class="text-center p-3">Bandi & News</h1>
    </div>
  </header>

  <!-- Contenitore con margine top bot e sfondo verdino -->
  <div class="py-8 lg-background">
    <!-- Prima Riga che contiene tutto -->
    <div class="row ms-2 me-1">
      <!-- Colonna 1 variabile -->
      <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- Riga 1 Fissa -->
        <div class="row">
          {% for newPost in newPosts %}
          <!-- Due colonne sempre a meta della Riga 1 -->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4">
                <a href="{% url 'blogpost_detail' id=newPost.id %}">
                    {% if newPost.image %}
                    <img class="card-img-top" src="{{newPost.image.url}}" alt="..." />
                    {% else %}
                    <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
                    {% endif %}
                </a>
                <div class="card-body">
                    <div class="small text-muted">January 1, 2023</div>
                    <h2 class="card-title">{{newPost.title}}</h2>
                    <p class="card-text truncate-text">{{newPost.desc|truncatechars:200}}</p>
                    <a class="btn btn-primary" href="{% url 'blogpost_detail' id=newPost.id %}">Leggi di più →</a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="row">
          {% for post in posts %}
          <div class="col-lg-6 col-md-6 col-sm-3">
            <div class="card mb-4">
              <a href="{% url 'blogpost_detail' id=post.id %}">
                {% if post.image %}
                <img class="card-img-top" src="{{post.image.url}}" alt="..." />
                {% else %}
                <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />        
                {% endif %}
              </a>
              <div class="card-body">
                <div class="small text-muted truncate-text-container">January 1, 2023</div>
                <h2 class="card-title h4 ">{{post.title}}</h2>
                <p class="card-text">{{post.desc|truncatechars:50}}</p>
                <a class="btn btn-primary" href="{% url 'blogpost_detail' id=post.id %}">Leggi di più →</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container-full-width">
      <a href="{% url 'news' %}" class="btn btn-primary m-4">Tutti i bandi e le news!</a>

    </div>
  </div>

</section>

<!-- LAVORA CON NOI -->
<section id="lavora_con_noi">

  <div class="container-full-width">
    <header class="bg-light border">
      <div class="container mt-3">
        <h1 class="text-center p-3">Lavora con noi!</h1>
      </div>
    </header>
  </div>

  <div class="text-center p-10 lg-background">
    <p>Se sei alla ricerca di nuove sfide professionali, un ambiente di lavoro stimolante e progetti innovativi, puoi consultare questa sezione per scoprire le posizioni aperte presso le nostre sedi in Italia o invarci la tua candidatura spontanea. </p>
    <a href="{% url 'index' %}" class="btn btn-primary m-4">Candidati!</a>
  </div>

</section>

<!-- CONTATTI-->
<section id="contattaci">
    <header class="bg-light border">
      <div class="container">
        <h1 class="text-center p-3">Contattaci</h1>
      </div>
    </header>
    <div id="sectionImg" class="pt-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-8">
                <form action="/post" method="post">
                    <input class="form-control" name="name" placeholder="Nome..." /><br />
                    <input class="form-control" name="phone" placeholder="Telefono..." /><br />
                    <input class="form-control" name="email" placeholder="E-mail..." /><br />
                    <textarea class="form-control" name="text" placeholder="Come possiamo aiutarti?" style="height:150px;"></textarea><br />
                    <input class="btn btn-primary" type="submit" value="Invia" /><br /><br />
                </form>
            </div>
            <div class="col-md-4">
                <b>Fabrizio Ciotti:</b> <br />
                Telefono: +39 327 9518741 <br />
                E-mail: <a href="mailto:fabrizio.ciotti@gmail.com">fabrizio.ciotti@gmail.com</a><br />
                Orario: 9:00 - 19:00  <br />
                <br /><br />

                <b>Matteo Marchetti:</b> <br />
                Telefono: +39 328 9081775 <br />
                E-mail: <a href="mailto:matteo.marchetti.saa@gmail.com">matteo.marchetti.saa@gmail.com</a><br />
                Orario: 9:00 - 19:00  <br />
                <br /><br />
            
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}
