{% extends 'main.html' %}
{% block content %}
        <!-- Header-->
        <title>Home Page</title>
        <section id="scroll">
            <div class="container-full-width">
                <img class="img-fluid" src="/static/assets/img/campo01.jpg" alt="An image of a field" style="width:100%;">
                <div class="centered"> 
                    <h1>Studio Agronomico <br> MESOPOTAMIA</h1>
                    <h3>Coltiviamo insieme un futuro migliore</h3>
                </div>
                <!-- <a class="btn btn-primary btn-xl rounded-pill mt-5 centered"  href="#scroll">Learn More</a> -->
            </div>
        </section>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container">
                <h1 class="text-center p-3">Home</h1>
            </div>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/investi01.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Consulenze agronomiche</h2>
                            <p>Da piu di 20 anni aiutiamo le piccole e medie aziende a crescere e ottimizzare la resa e la qualità dei propri terreni! </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content section 2-->
        <section id="scroll">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/psr-lazio.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">P.S.R.</h2>
                            <p>La completa conoscenza della terra e degli elementi che la abitano ci permette di scegliere la giusta coltura per massimizzarne la resa e la qualità</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/mappatura_terreni.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Mappature terreni</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content section 4-->
        <section id="scroll">
            <div class="container">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="/static/assets/img/piramide_terreni.jpeg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Analisi completa</h2>
                            <p>La completa conoscenza della terra e degli elementi che la abitano ci permette di scegliere la giusta coltura per massimizzarne la resa e la qualità</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}

