{% extends 'main.html' %} {% block content %} {% load static %}

<!-- HOME -->
<title>Home Page</title>
<section id="home">
  <!-- SUBSezione immagine copertina -->
  <div id="sezioneImg">
    <div class="container-full-width">
      <img
        class="img-fluid"
        src="{% static 'assets/img/campo01.jpg' %}"
        alt="An image of a field"
        style="width: 100%"
      />
      <div class="container-full-width centered">
        <h1>
          Studio Agronomico <br />
          MESOPOTAMIA
        </h1>
        <h3>Coltiviamo insieme un futuro mi gliore</h3>
      </div>
    </div>
  </div>
  <!-- Fine SUBSezione immageine copertina -->
  <div id="content1">
    <!-- Content 1-->
    <header class="bg-light border">
      <div class="container">
        <h1 class="text-center p-3">Home</h1>
      </div>
    </header>

    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img
              class="img-fluid"
              src="{% static 'assets/img/investi01.jpeg' %}"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Consulenze agronomiche</h2>
            <p>
              Da piu di 20 anni aiutiamo le piccole e medie aziende a crescere e
              ottimizzare la resa e la qualità dei propri terreni!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Content  2-->
    <div class="container">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img
              class="img-fluid"
              src="{% static 'assets/img/psr-lazio.jpeg' %}"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">P.S.R.</h2>
            <p>
              La completa conoscenza della terra e degli elementi che la abitano
              ci permette di scegliere la giusta coltura per massimizzarne la
              resa e la qualità
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Content  3-->
    <div id="sectionImg1">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="img-fluid"
                src="{% static 'assets/img/mappatura_terreni.jpeg' %}"
                alt="..."
              />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Mappature terreni</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                aliquid, mollitia odio veniam sit iste esse assumenda amet
                aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                voluptatum molestiae adipisci, beatae obcaecati.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="analisi">
      <div class="container">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img
                class="img-fluid"
                src="/static/assets/img/piramide_terreni.jpeg"
                alt="..."
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Analisi completa</h2>
              <p>
                La completa conoscenza della terra e degli elementi che la
                abitano ci permette di scegliere la giusta coltura per
                massimizzarne la resa e la qualità
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CHI_SIAMO-->
<section id="chi_siamo">
  <header class="bg-light border mb-4">
    <div class="container">
      <h1 class="text-center p-3">Chi siamo</h1>
    </div>
  </header>

  <!-- Content  2 team 1 -->
  <div id="scroll">
    <div class="container">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid" src="/static/assets/img/01.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Giacomo</h2>
            <p>
              Da piu di 20 anni aiutiamo le piccole e medie aziende a crescere e
              ottimizzare la resa e la qualità dei propri terreni!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content  2 team 2 -->
  <div>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img
              class="img-fluid"
              src="/static/assets/img/avatar.jpeg"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Francesco</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam
              exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
              molestiae adipisci, beatae obcaecati.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content  2 team 3-->
  <div id="scroll">
    <div class="container">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img
              class="img-fluid"
              src="/static/assets/img/avatar.jpeg"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Fabrizio</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam
              exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
              molestiae adipisci, beatae obcaecati.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SERVIZI -->
<section id="servizi">
  <header class="bg-light border mb-4">
    <div class="container">
      <h1 class="text-center p-3">Servizi</h1>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <!-- Contenuto della riga 1 -->

      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start service-container"
      >
        <!-- Contenuto della colonna 1 -->
        <a href="{% url 'servizi_agricoltura' %}" class="service-link">    
          <img
            class="img-fluid rounded-circle rounded-circle-green-border"
            src="{% static 'assets/img/campo01.jpg' %}"
            alt="An image of a field"
            style="width: 200px; height: 200px; object-fit: cover"
          />
          <h4 class="mt-4 mx-auto">Servizi per l'agricoltura</h4>
        </a>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start"
      >
        <!-- Contenuto della colonna 2 -->
        <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
        />
        <h4 class="mt-4 mx-auto">Servizi per l'ambiente</h4>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start"
      >
        <!-- Contenuto della colonna 3 -->
        <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
        />
        <h4 class="mt-4 mx-auto">Verde pubblico e privato</h4>
      </div>
      <!-- Aggiungi altre colonne se necessario -->
    </div>
    <!-- Aggiungi altre righe se necessario -->
    <div class="row">
      <!-- Contenuto della riga 2 -->
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start"
      >
        <!-- Contenuto della colonna 1 -->
        <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
        />
        <h4 class="mt-4 mx-auto">
          Realizzazione di attività di marketing
        </h4>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start"
      >
        <!-- Contenuto della colonna 2 -->
        <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
        />
        <h4 class="mt-4 text-center mx-auto">
          Servizi di certificazioni di qualità
        </h4>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 mb-5 d-flex flex-column align-items-center justify-content-start"
      >
        <!-- Contenuto della colonna 3 -->
        <img
          class="img-fluid rounded-circle rounded-circle-green-border"
          src="{% static 'assets/img/campo01.jpg' %}"
          alt="An image of a field"
          style="width: 200px; height: 200px; object-fit: cover"
        />
        <h4 class="mt-4 text-center mx-auto">Servizi economico-finanziari</h4>
      </div>
      <!-- Aggiungi altre colonne se necessario -->
    </div>
    <!-- Aggiungi altre righe se necessario -->
  </div>
</section>
{% endblock %}
