{% extends 'main.html' %} 
{% block content %} 
{% load static %}

<section id = "servizi">
  <div id="image-container">
    <div class="container-full-width">
      <img
      class="img-fluid"
      src="{% static 'assets/img/investi01.jpeg' %}"
      alt="An image of a field"
      style="width: 100vw; height: auto;"
      />
      <div class="container-full-width w centered">
        <h1>
          AgriPro Consulting
        </h1>
        <h3>Coltiviamo insieme un futuro mi gliore</h3>
      </div>
    </div>
  </div>
  <div class="container-full-width text-center p-5 lg-background">
    <div class="container text-center px-10">
      <h1>Consulenza per le certificazioni di qualità</h1>
      <p>L'agricoltura (dal latino agricultura, ager campi, e cultura coltivazione) è l'attività umana che consiste nella coltivazione di specie vegetali. Lo scopo basilare dell'agricoltura è ottenere prodotti dalle piante, da utilizzare soprattutto a scopo alimentare. In economia, l'agricoltura rientra nel settore primario.
    </div>

    </p>
      <ul class="ul b p-5">
        <li>Assistenza alla certificazione per il BIO</li>
        <li>Consulenza tecnica</li>
        <li>Consulenza tecnica global gap</li>
      </ul>
    </div>
</section>

{% endblock %}