{% extends 'main.html' %} 
{% block content %} 
{% load static %}

<section id = "servizi">
  <div id="image-container">
    <div class="container-full-width">
      <img
      class="img-fluid"
      src="{% static 'assets/img/drone2.jpg' %}"
      alt="An image of a field"
      style="width: 100vw; height: auto;"
      />
      <div class="container-full-width w centered">
        <h1>
          SISAN
        </h1>
        <h3>Coltiviamo insieme un futuro mi gliore</h3>
      </div>
    </div>
  </div>
  <div class="container-full-width text-center p-5 lg-background">
    <div class="container text-center px-10">
      <h1>SERVIZI ECONOMICO-FINANZIARI</h1>
      <p>L'Economia agraria si occupa dello studio dei rapporti economici tra l'azienda, l'impresa agraria e l'ambiente economico nel quale esse si trovano. 
        La Gestione della Azienda Agraria ha come scopo lo studio e la ottimizzazione delle strategie di gestione. Tale obiettivo viene raggiunto attraverso l'uso di adeguati strumenti di indagine dei processi produttivi e delle caratteristiche tecniche ed economico-finaziarie dell’azienda.
      </p>
    </div>

      <ul class="ul b p-5">
        <li>Redazione business plan</li>
        <li>Valutazine di miglioramento aziendale</li>
        <li>Valutazione strategica di mercato</li>
        <li>Perizie e stime</li>
        <li>Stime dei danni</li>
        <li>Stesura contratti agrari</li>
        <li>Espropri, successioni e compravendite</li>
        <li>Certificato IAP e CD</li>
      </ul>
      <a class="btn btn-primary" href="{% url 'index' %}#servizi">Torna alla HomePage →</a>

    </div>
</section>

{% endblock %}